[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncssh = "*"
ruff = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-cov = "*"
ruff = "*"
pylint = "*"
flake8 = "*"
mypy = "*"
bandit = "*"

[requires]
python_version = "3.12"
