[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncssh = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
yapf = "*"
rope = "*"
pytest-cov = "*"
ruff = "*"
pylint = "*"
sphinx = "*"
sphinx-pyproject = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.12"
